/* :root {
    --high-purp: rgb(174, 52, 235);
    --low-purp: rgb(216, 165, 242);
    --ice: #f0f0f5;
} */

form {
    margin: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#my_form {
    background-color: var(--low-purp);
}

form label {
    display: inline;
    text-align: center;
    font-size: 1.3em;
    padding: 1em;
}

#submit-button {
    background: var(--high-purp);
    color: var(--ice);
    border-radius: 4px;
    border: none;
    font-size: 1em;
}

#submit-button:hover {
    background-color: var(--low-purp);
    transition-duration: 0.1s;
}