<!DOCTYPE html>
{% load static %}
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IGTI_Flix</title>
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/svg/1936/1936369.svg">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'body.css' %}">
    <link rel="stylesheet" href="{% static 'crud.css' %}">
    <link rel="stylesheet" href="{% static 'principal.css' %}">
</head>
<body>
    {% include './menu.html' %}
    {% block content %}
    {% endblock %}
</body>
</html>